<!-- used for using a base template for html -->
{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %} <!--used to load statics-->
            <h1>Tareq Husein</h1>
            <img src="{% static 'portfolio/Tareq_photo.jpeg' %}" class="rounded mx-auto d-block" alt="Tareq's photo" style="width:400px;height:600px;margin-top:50px">
            <h1>Junior Django Developer</h1>
            <h3>Projects</h3>
            <div id="allprojects" style="margin-top:30px">
                <!-- whenever you are going to use programming in html then use % , other than that use
                2 brackets {{ it's a template django language-->
                {% for project in projects %}
                <div class="card" style="width: 18rem;">
                  <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.image.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.disc }}</p>
                  </div>
                  <div class="card-body">
                    {% if project.url %}
                    <a href="{{ project.url }}" class="card-link" target="_blank">Link to project</a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}