<!-- used for using a base template for html -->
{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %} <!--used to load statics-->
<main >
    <h1>Blog</h1>
    <!--using pluralize will put s when the count is 0 or more than 1 and will remove the s when count=1 -->
    <h2 style="margin-top:20px">Tareq has written {{posts_count}} blog{{ posts_count|pluralize }}</h2>
    <div style="margin-top:30px">
                <!-- whenever you are going to use programming in html then use % , other than that use
                2 brackets {{ it's a template django language-->
                {% for post in posts %}
                <div class="card" style="border:none;">
                  <div class="card-body" >
                    <a href="{% url 'detail' post.id %}">
                        <h3 class="card-title">{{ post.title }}</h3>
                    </a>
                      <!-- using |date will let you choose the date format you want -->
                      <p class="card-text" style="color:light-grey">{{ post.date|date:'d/M/Y' }}</p>
                      <!-- using |safe will let you use html inside brackets when posting with admin page-->
                      <!-- |trucatechars limits number of chars to display-->
                      <p class="card-text" >{{ post.post|safe|truncatechars:100 }}</p>
                  </div>
                </div>
                {% endfor %}
  </div>
</main>
{% endblock %}