<!-- used for using a base template for html -->
{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %} <!--used to load statics-->
    <h1>Detailed blog</h1>
    <div class="card" style="margin-top:30px;">
        <div class="card-body">

                <h3 class="card-title">{{ post.title }}</h3>
            <!-- using |date will let you choose the date format you want -->
            <p class="card-text" style="color:light-grey">{{ post.date|date:'d/M/Y' }}</p>
            <p class="card-text" style="font-weight:bold" >{{ post.post }}</p>
        </div>
    </div>
{% endblock %}