{% load static %}
html{
position: relative;
min-height: 100%;
margin:0;
padding:0;
}
body{

overflow-x: hidden;
margin:0;
padding:0;
}
h1{
font-family: 'Montserrat', sans-serif;
font-weight:bold;
color:black;
width:100%;
margin-left:auto;
margin-right:auto;
text-align:center;
}
h2{
color:orange;
width:400px;
margin-left:auto;
margin-right:auto;
text-align:center;
}
h3{
}
.about_tareq{
width:600px;
margin-left:auto;
margin-right:auto;
text-align:center;
}
p{
font-family: 'Open Sans', sans-serif;

}
main{
width:100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer{
background-color:#efefef;
position:absolute;
top:100%;
width:100%;

}
.social {
  text-align: center;
}

.social .Github,
.social .LinkedIn {
  display:inline-block;
  padding: 10px;
  padding-left: 20px;
}

.social .LinkedIn {
  padding-top: 4px;
  padding-left: 0px;
  padding-right: 0px;
}

