h1{
color:navy;
width:400px;
margin-left:auto;
margin-right:auto;
text-align:center;
}
h2{
color:orange;
width:400px;
margin-left:auto;
margin-right:auto;
text-align:center;
}
h3{
color:navy;
}
.about_tareq{
width:600px;
margin-left:auto;
margin-right:auto;
text-align:center;
}
p{

}