<!-- used for using a base template for html -->
{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %} <!--used to load statics-->

<!-- write html code here-->
<main>
    <h1>About</h1>
    <div class="about_tareq">
        <p>I'm Tareq. I'm a Junior Python Developer with some experience in the Automation field.</p>
        <p>I wrote my first "Hello World" in 2016, at that time I didn't know anything about programming,
        after 1 year I decided to start studying towards a software degree, after 2 years, I finished my
        studying as an outstanding graduate as a Practical Software Engineer.</p>
        <p>In 2019 I took a 3 months course and project for building a Java Web application and since then
        I'm more interested in the backend development field.</p>
        <p>Today I self-learned Django and developed this website and looking for a career using the skills
         I learned over the past 3 years.</p>
    </div>
</main>
{% endblock %}